.header__title {
	max-width: 830px;
	padding-top: 100px;
	margin-bottom: 30px;
	font-size: 85px;
	line-height: 1.17;
	font-weight: 400;
	text-transform: uppercase;
}

.header__text {
	max-width: 758px;
	font-size: 24px;
	line-height: 1.16;
	margin-bottom: 30px;
}

@media (max-width: 740px) {
	.header__title {
		padding-top: 75px;
		font-size: 64px;
	}
}

@media (max-width: 540px) {
	.header__title {
		padding-top: 50px;
		font-size: 44px;
	}

	.header__text {
		font-size: 22px;
	}
}