.catalog__content {
	display: flex;
	gap: 50px;
	align-items: center;
	margin-bottom: 150px;
}

.catalog__form {
	max-width: 560px;
	width: 100%;
}

.catalog__form-title {
	text-transform: uppercase;
	max-width: 430px;
	font-size: 28px;
	line-height: 1.16;
	font-weight: 300;
	margin-bottom: 20px;
}

.catalog__form-text {
	text-transform: uppercase;
	max-width: 430px;
	font-size: 18px;
	line-height: 1.16;
	font-weight: 300;
	margin-bottom: 50px;
}

.catalog__form-input {
	display: inline-block;
	padding: 20px;
	border: 1px solid #ccc;
	font-size: 24px;
	font-weight: 100;
	line-height: 1.16;
	margin-bottom: 30px;
	width: 100%;
	display: block;
	transition: all 0.3s ease;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.catalog__form-input:focus {
	outline: none;
	border-color: #171717;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

}

.catalog__form-input::placeholder {
	color: #aaa;
	font-weight: 300;
	letter-spacing: 1px;
}

.catalog__form-label {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.16;
	margin-bottom: 50px;
}

.catalog__form-checkbox {
	position: relative;
	width: 17px;
	height: 17px;
	appearance: none;
	-webkit-appearance: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.3s ease;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

.catalog__form-checkbox:checked {
	background-color: #171717;
	border-color: #171717;
}

.catalog__form-checkbox:checked::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 6px;
	height: 12px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	transform: translate(-50%, -60%) rotate(45deg);
}

.catalog__form-btn {
	padding: 20px 54px;
	background-color: #171717;
	color: #f5f5f5;
	font-size: 18px;
	line-height: 1.16;
	text-transform: uppercase;
	font-weight: 300;
	border: none;
	cursor: pointer;
	transition: all 0.9s ease;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.catalog__form-btn:hover {
	background-color: #333;
	box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}

.catalog__form-btn:active {
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1300px) {
	.catalog__content {
		display: block;

	}

	.catalog__content img {
		width: 100%;
		margin-bottom: 40px;

	}

}

@media (max-width: 740px) {
	.catalog__content {
		margin-bottom: 50px;

	}

	.catalog__form {
		max-width: 100%;

	}

	.catalog__form-input {
		width: 60%;
	}

}

@media (max-width: 540px) {
	.catalog__content img {
		margin-bottom: 20px;
	}

	.catalog__form-title {
		font-size: 22px;
		margin-bottom: 10px;
	}

	.catalog__form-text {
		font-size: 16px;
		margin-bottom: 15px;
	}

	.catalog__form-input {
		padding: 10px;
		font-size: 16px;
		margin-bottom: 20px;
	}

	.catalog__form-label {
		margin-bottom: 20px;
	}

	.catalog__form-btn {
		padding: 15px 54px;
		font-size: 16px;
	}

}